@media (max-width:$xl) {
  
.inputs {
  .container {
   .row {
     .col-12 {
       .inputs__item {
         button {
          margin: 32px 24px 0 0;
         }
       }
     }
   }
  }
}
}

@media (max-width:$md) {
    
.inputs {
  .container {
   .row {
     .col-12 {
       .inputs__item {
         input {
          margin: 0 0 50px 0;
           width: 400px;
           height: 70px;
         }
         button {
          margin: 0 0 50px 0;
           width: 400px;
           height: 70px;
         }
       }
     }
   }
  }
}
} 

