.inputs {
  padding: 128px 0 135px 0;
  background-color: #323969;
  color: #fff;
   .container {
     .row {
       .col-12 {
         h6 {
          @extend %red-text;
         }
         a {
          color:$gray;

         &:hover {
          text-decoration:none;
         }
         }
         p {
          color:$gray;
         }
         .inputs__item {
          margin-top: 50px;
    
          input {
            @include input(20px 40px 20px,250px,50px,#464c77);
            margin-right: 25px;
            border-radius: 3px;
            border: 1px solid $gray;
            text-transform: uppercase;
             
            &::placeholder {
               color: $gray;
             }
         
           }
             button {
              width: 250px;
               height: 50px;
               background-color: $redmain;
               color: #fff;
               border: none;
               border-radius: 3px;
               text-transform: uppercase;
               transform: scale(1);
               transition: .3s;


               &:hover {
                opacity: 0.8;
              }
              &:active {
                transform: scale(.95);
               }
             }

         }
       }
     }

   }
}