@media (max-width:$md) {

  .reposive {
    background-size: cover;
  .container {
    .row {
      .col {
        h2 {
          span {
            color: #fff;
          }
        }
        h6 {
           color: #fff;
        }
      }
    }
  }
}
}