@media (max-width:$md) {
  .video__block {
    .block__item {
      .video__content {
        img {
          width: 130px;
        }
        .button {
          a {
            max-width: 400px;
          }
        }
      }
    }
  }
}

@media (max-width:$sm) {
  .video__block {
    min-height: 100vh;
  }
}

