$container-width: 1140px;

$transition: 0.3s;

$redmain: #ff6d6d;

$secondmain: rgba(19, 18, 18, 0.842);

$gray: rgba(255, 255, 255, 0.659);


$ex: 1340px;
$xl: 1250px;
$lg: 1000px;
$md: 767px;
$sm: 576px;
$xs: 100%;   